:root {
    --Orange: hsl(25, 97%, 53%);
    --error: hsl(25, 97%, 30%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --DarkBlue: hsl(213, 19%, 18%);
    --DarkBlue2: hsl(213, 19%, 12%);
    --VeryDarkBlue: hsl(216, 12%, 8%);

    --option: 4rem;

    --fw_n: 400;
    --fw_b: 700;
}

*,
* *,
*::after,
*::before,
* *::after,
* *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    transition: all 250ms ease;
}

:root {
    --bgColor: var(--VeryDarkBlue);
    --textColor: var(--LightGrey);
    font-size: 14px;
}

/*! GENERAL PAGE */
BODY {
    color: var(--textColor);
    background: var(--bgColor);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

:focus {
    outline: 2px solid var(--Orange);
    outline-offset: 0.1rem;
}
SPAN {
    display: block;
}
P {
    font-size: 1.2em;
}
H1 {
    font-size: 2.5em;
}

H2 {
    width: 100%;
    font-size: 2em;
}
INPUT[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.icon_container {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    fill: var(--textColor);
}

.star_icon {
    fill: #fc7614;
}
.label_btn {
    font-weight: var(--fw_b);
}

BUTTON {
    padding: 0;
    background: var(--White);
    padding: 1rem 0;
    margin-top: 2rem;
    width: 100%;
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        filter: brightness(75%);
    }
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    display: none;
}
.thanks {
    text-align: center;
    PICTURE {
        width: 100%;
    }
    IMG {
        margin: 0 auto;
    }
    .flag_container {
        width: 100%;
    }
    .flag {
        opacity: 0.75;
        display: inline-block;
        background: var(--DarkBlue);
        border-radius: 2rem;
        padding: 0.75rem 1.5rem;
        color: var(--Orange);
        SPAN {
            display: inline-block;
        }
    }
}
.hide {
    display: none;
}
IMG {
    display: block;
}

H1,
H2 {
    color: var(--White);
}

FORM {
    width: 100%;
    .option:hover {
        background: var(--Orange);
        color: var(--White);
    }
}
.option {
    display: block;
    background: var(--DarkBlue);
    width: var(--option);
    height: var(--option);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: var(--fw_b);
    box-shadow: 2px 2px 4rem var(--DarkBlue2), -2px -2px 4rem var(--DarkBlue2);
}
.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.active {
    background: var(--White);
    color: var(--VeryDarkBlue);
}
.section_active {
    display: flex;
}
ARTICLE {
    position: relative;
    background: linear-gradient(var(--DarkBlue), var(--DarkBlue2));
    padding: 2rem;
    border-radius: 1rem;
    max-width: 450px;
    overflow: hidden;
    .msg {
        position: absolute;
        opacity: 0;
        background: var(--DarkBlue);

        border-radius: 1rem;
        width: calc(100% - 4rem);
        text-align: center;
        padding: 1rem;
        transition: all 750ms ease;
        H2 {
            color: var(--Orange);
        }
    }
}

.attribution {
    padding: 2rem 0;
    text-align: center;

    A {
        background: none;
        text-decoration: none;
        color: var(--Orange);
        &:visited,
        &:focus,
        &:active,
        &:hover {
            filter: brightness(75%);
        }
    }
}
